<div class="container-fluid fill chat-body mat-app-background" [ngClass]="{'dark-theme': isDarkTheme | async}">
  <navbar></navbar>
      <div class="col-sm-12 chat-history"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div>{{messageArray}}
          <div *ngFor="let item of messageArray">
            <mat-card color="accent">
              <strong>{{item.user}} : </strong> {{item.message}}
            </mat-card>
          </div>
        </div>
      </div>

      <div class="col-sm-12" class="footer">
        <div class="chatbox">
        <form>
          <mat-form-field>
            <mat-label>Message</mat-label>
            <input matInput #message maxlength="256" type="text" [(ngModel)]="messageText" name="Message" (keydown.enter)="sendMessage()"  autocomplete="off">
            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
        </form>
      </div>
        <div class="chatbox-button">
          <button mat-mini-fab color="accent" (click)="sendMessage()">
            <mat-icon>chat_bubble_outline</mat-icon>
          </button>
        </div>
      </div>

  </div>