@import '~@angular/material/theming';

@include mat-core();

$primary-light: mat-palette($mat-indigo);
$accent-light: mat-palette($mat-indigo);
$warn-light: mat-palette($mat-red);
$theme-light: mat-light-theme($primary-light, $accent-light, $warn-light);

@include angular-material-theme($theme-light);

$primary-dark: mat-palette($mat-indigo);
$accent-dark: mat-palette($mat-indigo);
$warn-dark: mat-palette($mat-red);
$theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

.dark-theme {
  @include angular-material-theme($theme-dark);
}
